@supports(display: grid) {
    @media screen and (min-width: 925px) {
        .grid-container {
            display: grid;
            grid-template-areas: 
                "nul nv"
                "grt mn"
                "ftr mn";
            grid-template-columns: 2fr 3fr;
            grid-template-rows: 3rem minmax(530px - 7rem, 1fr) 4rem;
        }
        
        .greet {
            grid-area: grt;
            vertical-align: bottom;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        
        nav {
            grid-area: nv;
        }
    
        nav #nav-bar {
            border-radius: 0 0 0 0.8rem;
        }
        
        main {
            grid-area: mn;
            border-radius: 0.8rem 0 0;
            margin: 0;
            height: calc(100vh - 3rem);
            min-height: 530px;
            overflow-y: scroll;
            scroll-behavior: smooth;
            scroll-padding-top: 1.2rem;
        }
        
        footer {
            grid-area: ftr;
        } 
    }
}
@supports not(display: grid) {
    main {
        width: 70%;
        margin: auto;
    }
    
    @media screen and (max-width: 700px) {
        main {
            width: 100%;
        }
    }
}
